.form{
    margin-left : 35%;
    width: 40%;
    padding: 10px;
}

.inputField{
    border : 1px solid blue;
    width: 550px;
    padding: 10px;
    border-radius: 250px;
    border-color: antiquewhite;
    margin-left: 15px;
    padding-left: 25px;
}

.invisible{
    border-color: black;
    background-color: whitesmoke;
    
    resize: none;
    outline: none;
    width : 90%;
}

.input{
    border : 1px solid none;
    margin-left : -85px;
    width: 81%;
    padding : 20px;
    border-radius: 20px;
    background-color: white;
    display: flex;
}

.input > button{
    margin-left: 5px;
    /* display: none; */
    height: 40px;
    margin-left: 15px;
    margin-top : 20px;
    color : white;
    background-color: blue;
    background-image: none;
    border : none;
    border-radius: 6px;
    font-size: 15px;
    width : 90px;
}



